<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    {% block title -%}
        {% if title %}
            <title>Социальная сеть - {{ title }}</title>
        {% else %}
            <title>Социальная сеть</title>
        {% endif %}
    {% endblock %}
</head>
<body>
{% block content -%}

    {% if title %}
        <h1>{{ title }}</h1>
    {% else %}
        <h1>Социальная сеть</h1>
    {% endif %}
{% endblock -%}
        </div>
</body>
</html>