{% extends 'base.html' %}

{% block content %}
{{ super() }}
<form action="/qr_contact" method="post" novalidate>
           {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
        </p>
    <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </p>
            <p>
            {{ form.phone.label }}<br>
            {{ form.phone(size=11) }}
        </p>
    <p>
            {{ form.org.label }}<br>
            {{ form.org(size=32) }}
        </p>
    <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
    <p>
            {{ form.url.label }}<br>
            {{ form.url(size=64) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}